html {
  height: 100%;
  width: 100%;
}
body{background-color:#31363F;}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(118, 171, 174,0.3);
  border: 3px solid #222831;
}

.titulo p{
  font-size: 50px;
  font-weight: bold;
  color: #EEEEEE;
  }
.subtitulo p{
  font-size: 30px;
  font-weight: bold;
  color:#EEEEEE;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(118, 171, 174,0.3);
  border: 3px solid #222831;
  
}

.content1 img{
  height: 250px;
  margin:20px
}
.content1 p{
  font-size: 25px;
  font-weight: bold;
  color:#EEEEEE;
  margin: 20px;
  line-height: 2.;
}

        